<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla/template :: head">
</head>
<body>
<header th:replace="plantilla/template :: header"></header>
	<div class="container mt-3">
		<div class="col-sm-6">
			<form th:action="@{/saveinsumo}" th:object=${insumo} method="POST">
				<div class="card">
					<div class="card-header">
						<h3>Modulo Insumo</h3>
					</div>
					<div class="card-body">
						<!-- --->
						<label>ID</label>
						 <input th:field="*{id_insumo}" type="text" class="form-control"> 
						 <label>NOMBRE</label> 
						 <input	th:field="*{nombre}" type="text" class="form-control"> 
						 <label>Precio</label> 
						 <input	th:field="*{precio}" type="number" class="form-control">
						 <label>Almacen</label>
                         <input th:field="*{almacen.id_almacen}" type="text" class="form-control">
						 
					</div>
				</div>
				<div class="card-footer"></div>
				<input type="submit" value="Guardar" class="btn btn-success">
			</form>
		</div>
	</div>
</body>
</html>