<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="plantilla/template :: head">
</head>

<body>
<header th:replace="plantilla/template :: header"></header>
	<br>
	<br>
	<center> 
	<p style="color: red; font-size:35px; ">Vista Almacen</p>
	</center>
	<div class="container mt-4">

		<table class="table">

			<thead>

				<tr>

					<td><a th:href="@{/menu}" class="btn btn-danger">MENU</a></td>
					<td><a th:href="@{/listaalmacen}" class="btn btn-danger">LISTA</a></td>

				</tr>

			</thead>


		</table>

	</div>
<footer th:replace="plantilla/template :: footer"></footer>
</body>

</html>